<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/kCafe.css" rel="stylesheet">
        <style type="text/css">
            .btn
            {border:none;
            width:187%;
            display:inline-block;
            outline:0;
            padding:6px 16px;
            vertical-align:middle;
            overflow:hidden;
            text-decoration:none!important;
            color:#000000;
            background-color:#ff0000;
            text-align:center;
            cursor:pointer;
            white-space:nowrap}
        </style>
        <title>Homepage</title>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
            <h1> KCafee Presents</h1>
            </div>
        </div>
        
        <div class="row">
        
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
        <img src='/static/theCreators.jpg' height = "290", width = "450">
        <a href="/login/0" class = "btn" style="color:pink"> Login</a>
        </div>
        </div>
    </body>
</html>