<!DOCTYPE html>
<html>
    <head>
        <title>
            Cookies For kASK
        </title>
    </head>
    <body>
        <a href =/login>Login</a><br><a href =/signup>Sign Up</a> 
        <form action="/setCookie" method="Post">
            <p> Enter your name: </p>
            <input type="text" name="username"/>
            <input type="submit" value="Submit your name!"/>
        </form>
        
        <h1> hello and good bye </h1>
        <h2>{{data['name']}}</h2>
        <h3>{{data['age']}}</h3>
    </body>
</html>